
.movie-list {
    margin-top: 15vh;
    display: flex;
    height: 30rem;
    justify-items: center;
    img {
        width: 18rem;
        border: 1px solid #dbedec;
    }
    .movie-card {
        height: 30rem;
        border: 1px solid #c7e1e0;
        margin-right: 6px;
    }
    .moviecard-btns {
        border: solid 1px #dbedec;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .favorite-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 6px;
        cursor: pointer;
    }
}