<app-navigation></app-navigation>
<div class="profile">
  <div class="profile-info">
    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title><h2>User Profile</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3 mat-line>Username</h3>
        <p mat-line>{{ user.Username }}</p>

        <h3 mat-line>Email</h3>
        <p mat-line>{{ user.Email }}</p>

        <h3 mat-line>Birthday</h3>
        <p mat-line>{{ this.date }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="edit-form">
    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title><h2>Edit your data</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input
              matInput
              [(ngModel)]="userData.Username"
              placeholder="Username"
              type="text"
              name="Username"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              [(ngModel)]="userData.Password"
              type="password"
              placeholder="Password"
              name="Password"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              [(ngModel)]="userData.Email"
              type="email"
              placeholder="Email"
              name="Email"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Birthday</mat-label>
            <input
              matInput
              [(ngModel)]="userData.Birthday"
              type="date"
              placeholder="Birthday"
              name="Birthday"
            />
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="editUser()">Save</button>
            <button mat-raised-button color="warn">Delete your acount</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="favorites">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>Favorite Movies</h2></mat-card-title>
      <mat-card-subtitle>
        <p *ngIf="favoriteMovies.length === 0">No favorite movies yet!</p>
      </mat-card-subtitle>
    </mat-card-header>

    <div class="favorites-card">
      <div class="movie-card" *ngFor="let movie of favoriteMovies">
        <mat-card-header>
          <mat-card-title>{{ movie.Title }}</mat-card-title>
          <mat-card-subtitle
            >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
          >
        </mat-card-header>
        <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
        <div>
          <button mat-icon-button (click)="deleteFavoriteMovie(movie._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </mat-card>
</div>
